/* Universal Styles */
body {
  margin: 0px;
  background-color: whitesmoke;
  font-family:'Brush Script MT', cursive;
  text-align: center;
}

.secondary-background {
  background-color: snow;
}

.tagline {
  font-family: 'Quicksand', fantasy;
  color: lightslategrey;
  line-height: 125px;
}

/* Header */
h1 {
  margin: 0;
  background-color:blueviolet;
  line-height: 100px;
  color: rgb(182, 240, 140);
}

h2 {
  margin: 10px;
}

/* App Container */
.container {
  border: 2px solid snow;
}

/* To Do Section */
.week {
}

.row {
  min-height: 200px;
  display: flex;
}

.square {
  width: 125px;
  height: 125px;
  padding: 10px;
}

.day.square {
  background-color: blueviolet;
  border: 1px solid white;
}

.task.square {
  background-color: rgb(248, 205, 177);
  border: 1px solid white;
}

.task p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 12px;
}

/* Reminders */
.reminders {
  background-color: khaki;
}

.reminders h3 {
  width: 100%;
  margin: 10px;
  color: black;
  line-height: 90px;
  font-size: 24px;
}

/* Footer */
footer {
  font-size: 24px;
}